<header th:fragment="cabecalho" class="container-cabecalho" xmlns:th="http://www.thymeleaf.org">
    <div class="container cabecalho">


        <a href="/" class="logo-link">
            <h1 class="logo-text">Dev's Burguer</h1>
        </a>

        <div class="cabecalho-acao">

            <div class="location">
                <ion-icon name="pin"></ion-icon>
                <span>Brasília, DF</span>
            </div>

            <a href="/checkout" class="cart-btn">
                <ion-icon name="cart"></ion-icon>
            </a>

        </div>
    </div>
</header>
