# Arquivos de build do Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Ignorar o .jar do Maven Wrapper (baixar na primeira vez)
# https://maven.apache.org/wrapper/#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

# Arquivos gerados pelo Eclipse m2e
.project

# Arquivos específicos do JDT (Eclipse Java)
.classpath

# Arquivos específicos do IntelliJ IDEA
.idea/
*.iml